:root {
    --primary-color: #2F80ED;
    --secondary-color: #333333;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body > header {
    background-color: var(--primary-color);
    color: white;
    height: 100vh;
}

header > nav {
    width: 100%;
}

header > nav > h2 {
    display: inline-block;
    font-style: normal;
    font-size: 20px;
    line-height: 0;
    margin: 50px 65px;
}

header > nav > a {
    float: right;
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    border: 1px solid white;
    margin: 20px 65px;
    border-radius: 5px;
}

header > div {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 45%;
    font-size: 20px;
    text-align: center;
}

header > div > a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 7px 25px;
    border: 1px solid white;
    border-radius: 5px;
}

header > span {
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 50px;
    font-size: 32px;
}

section:nth-of-type(1) {
    color: var(--primary-color);
    padding: 65px 40px;
    margin: 0 auto;
}

section:nth-of-type(1) article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    margin: 50px 0;
}

section:nth-of-type(1) article h2 {
    font-weight: 2000;
    font-size: 32px;
}

section:nth-of-type(1) article p {
    width: 75%;
    font-size: 20px;
    line-height: 2;
}

section:nth-of-type(2) {
    background-color: var(--primary-color);
    padding: 30px 0;
}

section:nth-of-type(2) > header {
    text-align: center;
    color: white;
    margin: 10px 0 50px 0;
}

section:nth-of-type(2) > main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 20px 10%;
}

section:nth-of-type(2) > main > article {
    text-align: center;
    padding: 35px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 6px;
}

section:nth-of-type(2) > main > article > p {
    margin: 40px 30px;
}

section:nth-of-type(3) {
    text-align: center;
    margin: 175px 0;
}

section:nth-of-type(3) h2 {
    margin-bottom: 50px;
}

section:nth-of-type(3) form input[type=text] {
    border: none;
    background-color: #F2F2F2;
    padding: 20px 15px;
    width: 450px;
    margin: 0;
}

section:nth-of-type(3) form input[type=submit] {
    border: none;
    margin: 0;
    padding: 20px 15px;
    background-color: var(--primary-color);
    color: white;
}

footer {
    background-color: #3168B3;
    color: white;
    padding: 20px 30px;
}

footer main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer nav a {
    display: block;
    color: white;
    margin: 20px 0;
    text-decoration: none;
    font-size: 14px;
}

footer nav h2 {
    font-size: 20px;
}

.clear {
    clear: both;
}